<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Style.css')}}">
<body>
    <div class="container">
        <h1>contact page</h1>
        <form method="POST">
            <input type="text" name="name" placeholder="your name" required><br><br>
            <textarea name="message" placeholder="your message" required></textarea><br><br>
            <button type="submit">send</button>
        </form>
        <p>dudhetanaya8@gmail.com, 9130162130</p>
        <a href="/ ">back to home👈</a>
    </div>
</body>
</html>